<div ng-controller="EditProductController">
    <h3>Ürün Düzenle</h3>
    <div ng-if="product">
        <form ng-submit="createProduct()">
            <label for="ProductName">Ürün Adı</label>
            <input type="text" id="ProductName" ng-model="product.ProductName" />
            
            <label for="StockQuantity">Adet</label>
            <input type="number" id="StockQuantity" ng-model="product.StockQuantity" />
            
            <label for="Price">Fiyat</label>
            <input type="text" id="Price" ng-model="product.Price" />
            
            <button type="submit">Düzenle</button>
        </form>
    </div>
    <div ng-if="!product">
        <p>Ürün bilgileri yüklenemedi.</p>
    </div>
</div>
