<div ng-controller="MenuBarController">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/#!/products" ng-if="isLoggedIn">Products</a>
    <form class="form-inline">
      <a class="navbar-brand" href="/#!/login" ng-if="!isLoggedIn">Login</a>
      <a class="navbar-brand" href="/#!/create-user" ng-if="!isLoggedIn">Create User</a>
      
      <span class="navbar-text" ng-if="isLoggedIn">Welcome, {{ username }}</span>
      <a href="#" ng-click="logout()" style="margin-left:10px" ng-if="isLoggedIn">Çıkış Yap</a>
    </form>
  </nav>
</div>
